body {
	min-height: 100%;
	padding-bottom: 69px;
	position: relative;
}

.caret {
	position: absolute;
	right: 33px; 
}

#email {
	margin-bottom: 0;
	width:100%;
}

.glyphicon-plus {
	position: absolute;
	right: 30px;
	top: 13px;
}

.first {
	float: left;
}

footer {
	background: aliceblue;
	bottom: 0;
	padding: 15px;
	position: absolute;
	width: 100%;
}

form { 
	margin: 0 auto;
	max-width: 600px;
}
.form-group {
	text-align: center;
}
#form-submit {
 text-align: center;
}

html {
	height: 100%;
}

.icon-bar {
	background-color: #337ab7;
}

input {
	border: 1px solid #b8bfc4;
	border-radius: 5px;
	height: 40px;
	margin-bottom: 15px;
	padding: 10px;
}

label {
	display: inline-block;
	width: 80px;
}

.last {
	float: right;
}

#logo {
	display: inline-block;
	vertical-align: text-bottom;
}

.name-input {
	width: 47%;
}

nav {
	background: aliceblue;
}

.navbar-brand { 
    height: 71px; 
    line-height: 41px;
}

.navbar-nav {
	margin: 0 -15px;
}
.navbar-toggle {
	border-color: #337ab7;
	margin: 18.5px 15px 18.5px 0;
}

.panel-body {
	white-space: pre-line;
}

#prayer-request {
	margin-bottom: 30px;	
	text-align: center;
}
.red-letter {
	color: red;
}

textarea {
  	border: 1px solid #b8bfc4;
  	border-radius: 5px;
  	padding: 10px;
	width: 100%;
} 

ul.nav li a:hover, .navbar-right > li > a:active, 
.navbar-right > li > a:visited,
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus,
.nav > li > a:focus, .nav > li > a:hover, .navbar-toggle:hover {
	background: lightblue;
}

ul.nav > li {
	border-bottom: 1px solid lightblue;
}

@media (min-width: 768px){
	.caret, .glyphicon-plus { 
		left: 2px;
		position: relative;
	}
	.container-fluid {
    	padding: 0 15px 0 15px;
	}
	footer {
		padding: 15px 40px;
	}
	.nav > li > a {
		padding: 25.5px 15px;
	}
	.navbar-brand {
		margin: 0;
		padding-left: 40px;
	}
	.navbar-collapse { 
		padding-right: 25px;
	}
	.navbar-right .dropdown-menu {
		left: 0;
		right: auto;
	}
	ul.nav > li {
		border: 0;
	}

}
 
@media (min-width: 1050px) {
	.container-fluid { 
    	padding: 0 80px;
	}
	footer {
		padding: 15px 80px;
	}
	.navbar-brand {
		padding-left: 15px;
		margin: 0; 
	}  
}
