a#listen-btn_live365 {
	display: none;
}
.artist {
	margin: 20px;
}

.artist-img {
	max-height: 475px;
	width: 100%;
	max-width: 650px;
}
body {
	min-height: 100%;
	padding-bottom: 69px;
	position: relative;
}

.caption-black {
	background-color: #000000;
    display: inline-block;
}
.caret {
	position: absolute;
	right: 33px; 
}

.container-fluid.artist-container {
	padding: 0 15px;
	max-width: 1150px;
}

.container-fluid.radio-bar {
	width: 100%;
	padding: 0;
	margin: 0;
	margin-bottom: -65px;
}

div#black-mask_live365 {
    display: none;
}

div#live365-now-playing-widget {
    background-color: #10354e; 
    border-radius: 0;
    min-height: 65px;
    height: auto;
    max-width: 100%;
    width: 100%;
}

div#main-content_live365 {
    z-index: 1001;
    position: relative;
    padding: 7.5px 0 0 30px;
	top: auto;
}

div#now-playing-text_live365 { 
    font-size: 12px;
    line-height: 12px; 
    padding-top: 0;
}

div#song-artist_live365 {   
    font-size: 14px;
    line-height: 16px;
    padding-top: 3px;
    padding-bottom: 0;
}
div#song-content_live365 {
    position: relative;
    top: auto;
    left: auto;
    width: 240px;
    float: left;
    margin-bottom: 5px;
    margin-right: 65px;
}

div#song-title_live365 { 
    font-size: 14px;
    line-height: 16px; 
    padding-top: 3px; 
}

.dropdown-menu {
	background-color: #f0f8ff;
}
.dropdown-menu>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
	color: #337ab7;
}

#email {
	margin-bottom: 0;
	width:100%;
}

.glyphicon-plus {
	position: absolute;
	right: 30px;
	top: 13px;
}

.first {
	float: left;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

footer {
	background: aliceblue;
	bottom: 0;
	padding: 15px;
	position: absolute;
	width: 100%;
}

form { 
	margin: 0 auto;
	max-width: 600px;
}
.form-group {
	text-align: center;
}

#form-submit {
 text-align: center;
}

html {
	height: 100%;
}

.icon-bar {
	background-color: #337ab7;
}

img#album-art_live365 {
	float: left;
    height: 50px; 
    left: auto;
    margin-bottom: 5px;
    margin-right: 5px; 
    position: relative;
    top: auto;
    width: 50px; 
}

img#bg-img_live365 {
	display: none;
}

img#logo_live365 { 
    position: relative;
    top: auto;
    left: auto; 
    margin-bottom: 7.5px;
    padding-right: 32px;
    float: right;
}

.img-logo_live365-Left {
	float: left !important;
}

input {
	border: 1px solid #b8bfc4;
	border-radius: 5px;
	height: 40px;
	margin-bottom: 15px;
	padding: 10px;
}

label {
	display: inline-block;
	width: 80px;
}

.last {
	float: right;
}

#logo {
	display: inline-block;
	vertical-align: text-bottom;
}

.name-input {
	width: 47%;
}

nav {
	background: aliceblue;
}

.navbar {
	margin-bottom: 0;
}
.navbar-brand { 
    height: 71px; 
    line-height: 41px;
}

.navbar-nav {
	margin: 0 -15px;
}

.navbar-nav>li>.dropdown-menu {
   padding: 0;
}

.navbar-toggle {
	border-color: #337ab7;
	margin: 18.5px 15px 18.5px 0;
}

.panel-body {
	white-space: pre-line;
}
.player {
	position: relative;
    left: 340px;
    top: -57.5px;
    z-index: 10000;
    width: 60px;
}

.player-small-screen {
	top: -78px;
}

.player-avoid-menu {
	left: 560px;
}

#prayer-request {
	margin-bottom: 30px;	
	text-align: center;
}

.red-letter {
	color: red;
}

.row.radio-bar {
	margin: 0px;
}

.square {
	max-width: 475px;
}

textarea {
  	border: 1px solid #b8bfc4;
  	border-radius: 5px;
  	padding: 10px;
	width: 100%;
} 

ul.nav li a:hover, .navbar-right > li > a:active, 
.navbar-right > li > a:visited,
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus,
.nav > li > a:focus, .nav > li > a:hover, .navbar-toggle:hover {
	background: lightblue;
}

ul.nav > li {
	border-bottom: 1px solid lightblue;
}

#volume {
	width: 60px;
	padding: 0;
	margin-top: -6px;
}

@media (min-width: 768px){
	.artist-img {
		max-height: 475px;
		width: 95%;
		max-width: 650px;
	}
	.bio {
		background: white;
		box-shadow: -6px -6px 10px 3px #474242;
		margin: -60px 0 0 40px;
		padding: 1px 20px 20px 20px;
		position: relative;
	}
	.caret, .glyphicon-plus { 
		left: 2px;
		position: relative;
	}
	.container-fluid {
    	padding: 0 15px;
	}
	div#main-content_live365 { 
    	padding-left: 43px;
	}
	footer {
		padding: 15px 40px;
	}
	img#logo_live365 { 
		float: right;
	    padding-right: 55px;
	}
	.nav > li > a {
		padding: 26px 15px;
	}
	.navbar-brand {
		margin: 0;
		padding-left: 40px;
	}
	.navbar-collapse { 
		padding-right: 25px;
	}
	.navbar-right .dropdown-menu {
		left: 0;
		right: auto;
	}
	.square {
		max-width: 475px;
	}
	ul.nav > li {
		border: 0;
	}

}
 
@media (min-width: 1050px) {
	.container-fluid { 
    	padding: 0 80px;
	}
	div#main-content_live365 { 
    	padding-left: 85px;
	}
	footer {
		padding: 15px 80px;
	}
	img#logo_live365 { 
		float: right;
	    padding-right: 120px;
	}
	.navbar-brand {
		padding-left: 15px;
		margin: 0; 
	} 
	.player {
	    left: 395px;
	} 
}
