<div class="container-fluid">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
			
		<!--<audio controls>
		<source src="http://www.radioking.com/play/faith-moves" type="audio/mpeg">
		</audio> -->
		<iframe src="https://www.radioking.com/widgets/player/player.php?id=122056&c=%231E7FCB&c2=%23FFFFFF&ii=&p=1&pp=1&i=1&eq=1&po=1&t=1&f=h&v=2&s=1&li=1&h=145&l=470&a=0&plc=0" name="idFrame" id="idFrame" style="border-radius: 5px; width:470px;height:145px; min-width: 470px;" frameBorder="0"></iframe>

		</div>
	</div>
</div>