<div class="container-fluid">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
		  <div class="panel-group" id="accordion">
		    <div ng-repeat="song in lyrics track by $index" class="panel panel-default">
		      <div class="panel-heading">
		        <h4 id="header{{$index}}" class="panel-title">
		          <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index}}">{{song[0]}} - {{song[1]}}</a>
		        </h4>
		      </div>
		      <div id="collapse{{$index}}" class="panel-collapse collapse">
		        <div class="panel-body" ng-bind-html="song[3]"></div>
		      </div>
		    </div>
		  </div> 
		</div>
	</div>
</div>