<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-offset-3 col-md-6">
  		<h1 id="prayer-request">SUBMIT A PRAYER REQUEST</h1>
    
	    <form action="" id="prayer-form">
		    <div class="form-group">
		      <input type="text" name="firstName" placeholder="First Name" class="name-input first">
		      <input type="text" name="lastName" placeholder="Last Name" class="name-input last"><br>
		    </div>
		    <div class="form-group">
		      </label><input type="email" name="email" id="email" placeholder="Email" required>
		    </div>
		    <div class="form-group">
		      	<textarea rows="10" cols="67" name="prayer" placeholder="Enter Prayer Request Here...">
				</textarea>
		    </div>
		    <div class="form-group">
		      <button type="submit" class="btn btn-default">Submit</button>
		    </div>
		</form>
  </div>
</div>